{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>You have data. <br> You want results. <br> We're here to help.</h2>
<hr>
<div class='row'>
    <div class='col-3'>
        <p>
        <h5>213 GROUP TECHNICAL EXPERTISE:</h5>
        DATABASE PRODUCTS:
        <ul>
            <li>NGP VAN PRODUCTS<br>
                <ul>
                    <li>VOTEBUILDER</li>
                    <li>EVERYACTION</li>
                </ul>
            </li>
            <li>ACTION NETWORK</li>
            <li>SALSESFORCE</li>
        </ul>
        SOFTWARE SOLUTIONS:<br>
        <ul>
            <li>ALTERYX</li>
            <li>GIS</li>
            <li>SPSS</li>
            <li>TABLEAU</li>
        </ul>
        CUSTOM PROGRAMMING:<br>
        <ul>
            <li>PYTHON</li>
            <li>R</li>
            <li>SQL</li>
        </ul>
        </p>
    </div>
    <div class='col-8'>
        <p>213 Group started in the beginning of 2019 with a clear purpose: help campaigns and organizations find, manage, analyze, visualize, and utilize data towards achieving their organizational goals. In our experience, both campaigns and organizations have a lot of data but are not using it to make strategic decisions. Our team is here to help you make the <strong>data-driven decisions</strong> you need to win your campaign or help you meet keep company benchmarks.</p> 
        <p>We believe it is important that you do make data-driven decisions. Most electoral campaigns are won at the margins, where the decisions to target this precinct or that precinct, or whether to spend more field money on canvassing or phonebanking, can determine the outcome. Your organization wants to determine which programs are most successful, but doesn't have any metrics to make that call, and budget season is coming up. We provide the insight and analysis you need to make the tough decisions.</p>
    </div>
</div>
{% endblock content %}